<!DOCTYPE html>
<html lang="en" style="

font-size: large;
color:black;
background:lightblue;
font-family: cursive;
">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Withdraw</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Withdraw Money</h2>
        <form action="/withdraw" method="post">
            <label for="amount">Amount:</label>
            <input type="number" id="amount" name="amount" required>
            <button type="submit" style="
            background: tan;
            color: red;
        ">Withdraw</button>
        </form>
        <a href="/dashboard" style="
        background: tan;
        color: red;
    ">Back to Dashboard</a>
    </div>
</body>
</html>
